:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}

body {
    font-family: "Roboto", serif;
    height: 10000px;
}

.navbar .container img {
    height: 34px;
    width: 100px;
}
/* Start:Navbar */
.navbar {
    background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link {
    color: white;
}
.main-btn { 
    background-color: var(--red-color);
    color: var(--yellow-color);
    padding: 0.5rem 1rem;
}

.main-btn:hover {
    color: var(--yellow-color);
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover, {
    color:var(--green-color),
} 

.navbar .search {
    border-left: 1px solid var(--green-color);
}

.navbar .search svg {
    color: var(--green-color);
}
.navbar .navbar-toggler {
    color: white;
    font-size: 25px;
    border-color: white;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expandad="true"]{
    border-color: var(--green-color);
}
/* End:Navbar */
/* Start=Landing */
.landing {
    background-color: var(--dark-color);
    min-height: calc(100vh-72px);
}


.main-title::after{
    content: '';
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
/* End=Landing */

/* Start-Features */
.features .icon-holder {
    height: 200px;
}

.features .icon-holder svg {
    left: 50%;
    transform: translateX(-50%);
}

.features .icon-holder .number {
font-size: 12rem;
color: var(--section-color);
}
 
.icon-holder .icon {
    color: var(--green-color);
}

.feat h4 {
    color: var(--yellow-color);
}

/* End-Features */

/* Start-Our-Work */
.our-work {
    background-color: var(--section-color);
}

.our-work .active {
background-color: var(--red-color);
color: var(--yellow-color);
}

.our-work .active ul li{
    padding: 5px;
    cursor: pointer;
    margin: 2px;
}
.our-work .active ul li:not(.active):hover{
    color: var(--red-color);
}

.our-work .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
}

.our-work .box::before {
    content: attr(data-work);
    position: absolute;
    background-color: #33d1cc54;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(100%);
}

.our-work .box:hover::before {
    transform: translateX(0%);
}

/* End-Our-Work */
/* Start-Stuff */

.stuff .description {
    max-width: 500px;
}
/* End-Stuff */

.team {
    background-color: var(--section-color);
}
.text-center {
    text-align: center !important;
}
.pb-5 {
    padding-bottom: 3rem !important;
}

.pt-5 {
    padding-top: 3rem !important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.team h2 {
    color: var(--yellow-color);
}

.fw-bold {
    font-weight: 700 !important;
}
.h2, h2 {
    font-size: calc(1.325rem + .9vw);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
}

.text-black-50 {
    --bs-text-opacity: 1;
    color: rgba(0, 0, 0, .5) !important;
}
.mb-5 {
    margin-bottom: 3rem !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex
;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}

.bg-white {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.team .box h4 {
    background-color: var(--green-color);
}
.text-light {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}

.p-3 {
    padding: 1rem !important;
}
blockquote {
    margin: 0 0 1rem;
}
blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.bg-white {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}